*{margin: 0; padding: 0; box-sizing: border-box;}

.app{
    display: grid;
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;

}